#
# Sample environment variables
# If running localhost, copy/rename this to .env and set the appropriate values
#

# Environment variables for localhost

# The Consumer Key for the SFDC Connected App for OAuth
APPID=3MVG9Rd3qC6oMalV2V8N41H8CPzd9INoa4g19zAjyr5.6e.u5q4BrPhcIhsJDKaCm3uCKneRpgM3n32lkVjVV

# The namespace:name of the app to use for Lightning Out
LOAPP=c:LOutTest

# HTTP Port
PORT=5000

# HTTPS Port
HTTPS_PORT=5001